:root {
  --txt: #212131;
  --bkg: #efefef;
  --bkg-alt: #dfdfcf;
  --accent: #fe0088;
  --font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--bkg);
  color: var(--txt);
  font-family: var(--font);
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5;
}

h3 {
  font-size: 1.2;
}

a {
  color: var(--txt);
  text-decoration: underline;

  &:hover {
    color: var(--accent);
  }
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 2rem;
  margin: 1rem auto;
  row-gap: 1rem;
  column-gap: 2rem;
  max-width: 1200px;

  a {
    text-decoration: none;
  }

  .main-nav {
    flex: 1 1 400px;
    flex-wrap: wrap;
    align-items: center;

    .main-search {
      flex: 1 0 250px;

      input {
        width: 100%;
        padding: 1ch 0.5rem;
      }
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      min-width: 150px;
      list-style: none;
      gap: 1rem;
      align-items: center;
    }
  }
}

.item__detail {
  padding: 2rem;
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 1200px;
  margin: 0 auto;

  img {
    width: 100%;
  }

  h2 {
    margin: 2rem 0;
  }

  p {
    margin: 0 0 1rem;
  }
}

@media screen and (min-width: 500px) {
  .item__detail {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.cart__items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-bottom: solid 1px var(--txt);
  padding: 1rem;
}

.cart__total {
  text-align: center;
  margin: 2rem;

  & p {
    font-size: 2rem;
    & strong {
      color: var(--accent);
    }
  }

  button {
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--accent);
    color: var(--bkg);
  }
}

.search__results {
  position: relative;
}

.search__list {
  position: absolute;

  background-color: var(--accent);
  width: 100%;
  z-index: 10;
  padding: 1rem 3ch;
  display: flex;
  flex-direction: column;

  gap: 1rem;

  > *::before {
    position: absolute;
    content: '>';
    left: 1ch;
  }

  a:hover {
    color: var(--bkg);
  }
}

.active {
  color: var(--accent) !important;
  font-weight: bold;
}

.category-nav {
  background-color: var(--txt);
  margin: 0 0 2rem;

  & ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    padding: 0.5rem 2rem;
    justify-content: center;
  }

  & a {
    color: var(--bkg);
    text-decoration: none;

    &:hover {
      color: var(--accent);
      text-decoration: underline;
    }
  }
}

.deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  row-gap: 4rem;
  margin: 0 auto 4rem;
  padding: 0 1rem;
  max-width: 1200px;
}

.warn {
  font-size: 3rem;
  text-align: center;
  padding: 0 2rem;
  color: var(--accent);
}

.deck__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    text-align: center;
  }

  .card__title {
    text-align: center;
    margin: 0 0 0.5rem;
  }

  img {
    padding: 0 1rem;
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;

    &:hover {
      filter: none;
    }
  }
}

.related {
  margin: 2rem 0 0;
  padding: 2rem;

  background-color: var(--bkg-alt);
  text-align: center;

  h3 {
    font-size: 2rem;
  }
}

.related__cards {
  display: flex;
  margin: 2rem auto;
  max-width: 1200px;
}

.related__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > div {
    text-align: center;
  }

  .card__title {
    font-size: 1rem;
    text-align: center;
    margin: 0 0 0.5rem;
  }

  img {
    padding: 0 1rem;
    width: 100%;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;

    &:hover {
      filter: none;
    }
  }
}

.home__card {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 1rem;
  align-items: center;
  margin: 0 auto 2rem;

  & a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  & img {
    padding: 0 1rem;
    justify-self: center;
    width: 100%;
    transition: filter 0.5s ease-in-out;
  }
}

@media screen and (min-width: 450px) {
  .home__card {
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
  }
}

.price {
  color: var(--accent);
}

.buy,
.buy__edit {
  border: none;
  background: none;
  background-color: var(--accent);
  color: var(--bkg);
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: 0.5rem 1.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--txt);
    color: var(--bkg);
  }
}

.buy__edit {
  padding: 0.5rem;
}

.buy__input {
  border: none;
  background: none;
  appearance: textfield;
  background-color: var(--bkg);
  color: var(--txt);
  font-size: 1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  padding: calc(0.5rem - 1px) 1ch;
  cursor: pointer;
  border-top: solid 1px var(--accent);
  width: min(100%, 4ch);
  border-bottom: solid 1px var(--accent);
}

img {
  mix-blend-mode: multiply;
  object-fit: contain;
  aspect-ratio: 1;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
