.deck {
  display: flex;
  flex-wrap: wrap;
}
.deck__card {
  flex: 1 1 200px;

  img {
    width: 100%;
    filter: grayscale(100%);
  }
}

img {
  max-width: 400px;
  aspect-ratio: 1;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
